<div class="section-header">
    <h2>Learn Animals</h2>
    <p>Discover amazing animals from around the world!</p>
</div>

<div class="animals-grid">
    <div class="animal-card">
        <div class="animal-image" id="lion"></div>
        <div class="animal-name">Lion</div>
        <div class="animal-sound">Roar</div>
    </div>
    <div class="animal-card">
        <div class="animal-image" id="elephant"></div>
        <div class="animal-name">Elephant</div>
        <div class="animal-sound">Trumpet</div>
    </div>
    <div class="animal-card">
        <div class="animal-image" id="giraffe"></div>
        <div class="animal-name">Giraffe</div>
        <div class="animal-sound">Bleat</div>
    </div>
    <div class="animal-card">
        <div class="animal-image" id="monkey"></div>
        <div class="animal-name">Monkey</div>
        <div class="animal-sound">Chatter</div>
    </div>
    <div class="animal-card">
        <div class="animal-image" id="zebra"></div>
        <div class="animal-name">Zebra</div>
        <div class="animal-sound">Bark</div>
    </div>
    <div class="animal-card">
        <div class="animal-image" id="penguin"></div>
        <div class="animal-name">Penguin</div>
        <div class="animal-sound">Honk</div>
    </div>
    <div class="animal-card">
        <div class="animal-image" id="cat"></div>
        <div class="animal-name">Cat</div>
        <div class="animal-sound">Meow</div>
    </div>
    <div class="animal-card">
        <div class="animal-image" id="dog"></div>
        <div class="animal-name">Dog</div>
        <div class="animal-sound">Woof</div>
    </div>
    <div class="animal-card">
        <div class="animal-image" id="cow"></div>
        <div class="animal-name">Cow</div>
        <div class="animal-sound">Moo</div>
    </div>
    <div class="animal-card">
        <div class="animal-image" id="sheep"></div>
        <div class="animal-name">Sheep</div>
        <div class="animal-sound">Baa</div>
    </div>
    <div class="animal-card">
        <div class="animal-image" id="horse"></div>
        <div class="animal-name">Horse</div>
        <div class="animal-sound">Neigh</div>
    </div>
    <div class="animal-card">
        <div class="animal-image" id="duck"></div>
        <div class="animal-name">Duck</div>
        <div class="animal-sound">Quack</div>
    </div>
</div>

<div class="learning-tips">
    <h3>Learning Tips</h3>
    <ul>
        <li>Practice animal sounds together</li>
        <li>Discuss where each animal lives</li>
        <li>Talk about what each animal eats</li>
    </ul>
</div>