<div class="section-header">
    <h2>Learn Colors</h2>
    <p>Discover the beautiful world of colors!</p>
</div>

<div class="colors-grid">
    <div class="color-card">
        <div class="color-box" style="background-color: red;"></div>
        <div class="color-name">Red</div>
    </div>
    <div class="color-card">
        <div class="color-box" style="background-color: blue;"></div>
        <div class="color-name">Blue</div>
    </div>
    <div class="color-card">
        <div class="color-box" style="background-color: yellow;"></div>
        <div class="color-name">Yellow</div>
    </div>
    <div class="color-card">
        <div class="color-box" style="background-color: green;"></div>
        <div class="color-name">Green</div>
    </div>
    <div class="color-card">
        <div class="color-box" style="background-color: orange;"></div>
        <div class="color-name">Orange</div>
    </div>
    <div class="color-card">
        <div class="color-box" style="background-color: purple;"></div>
        <div class="color-name">Purple</div>
    </div>
    <div class="color-card">
        <div class="color-box" style="background-color: pink;"></div>
        <div class="color-name">Pink</div>
    </div>
    <div class="color-card">
        <div class="color-box" style="background-color: brown;"></div>
        <div class="color-name">Brown</div>
    </div>
    <div class="color-card">
        <div class="color-box" style="background-color: black;"></div>
        <div class="color-name">Black</div>
    </div>
    <div class="color-card">
        <div class="color-box" style="background-color: white; border: 1px solid #ddd;"></div>
        <div class="color-name">White</div>
    </div>
    <div class="color-card">
        <div class="color-box" style="background-color: gray;"></div>
        <div class="color-name">Gray</div>
    </div>
    <div class="color-card">
        <div class="color-box" style="background-color: gold;"></div>
        <div class="color-name">Gold</div>
    </div>
</div>

<div class="learning-tips">
    <h3>Learning Tips</h3>
    <ul>
        <li>Point out colors in everyday objects</li>
        <li>Practice mixing colors with paint or crayons</li>
        <li>Find objects of the same color and group them</li>
    </ul>
</div>