<div class="section-header">
    <h2>Learn Flowers</h2>
    <p>Discover beautiful flowers from around the world!</p>
</div>

<div class="animals-grid">
    <div class="animal-card">
        <div class="animal-image" id="cherry-blossom"></div>
        <div class="animal-name">Cherry Blossom</div>
        <div class="animal-sound">Delicate</div>
    </div>
    <div class="animal-card">
        <div class="animal-image" id="jasmine"></div>
        <div class="animal-name">Jasmine</div>
        <div class="animal-sound">Sweet</div>
    </div>
    <div class="animal-card">
        <div class="animal-image" id="marigold"></div>
        <div class="animal-name">Marigold</div>
        <div class="animal-sound">Golden</div>
    </div>
    <div class="animal-card">
        <div class="animal-image" id="petunia"></div>
        <div class="animal-name">Petunia</div>
        <div class="animal-sound">Colorful</div>
    </div>
    <div class="animal-card">
        <div class="animal-image" id="hibiscus"></div>
        <div class="animal-name">Hibiscus</div>
        <div class="animal-sound">Tropical</div>
    </div>
    <div class="animal-card">
        <div class="animal-image" id="carnation"></div>
        <div class="animal-name">Carnation</div>
        <div class="animal-sound">Ruffled</div>
    </div>
    <div class="animal-card">
        <div class="animal-image" id="iris"></div>
        <div class="animal-name">Iris</div>
        <div class="animal-sound">Royal</div>
    </div>
    <div class="animal-card">
        <div class="animal-image" id="poppy"></div>
        <div class="animal-name">Poppy</div>
        <div class="animal-sound">Bright</div>
    </div>
    <div class="animal-card">
        <div class="animal-image" id="daffodil"></div>
        <div class="animal-name">Daffodil</div>
        <div class="animal-sound">Cheerful</div>
    </div>
    <div class="animal-card">
        <div class="animal-image" id="peony"></div>
        <div class="animal-name">Peony</div>
        <div class="animal-sound">Fluffy</div>
    </div>
    <div class="animal-card">
        <div class="animal-image" id="magnolia"></div>
        <div class="animal-name">Magnolia</div>
        <div class="animal-sound">Elegant</div>
    </div>
    <div class="animal-card">
        <div class="animal-image" id="pansy"></div>
        <div class="animal-name">Pansy</div>
        <div class="animal-sound">Happy</div>
    </div>
</div>

<div class="learning-tips">
    <h3>Learning Tips</h3>
    <ul>
        <li>Learn about flower colors and shapes together</li>
        <li>Discuss what flowers smell like</li>
        <li>Talk about which flowers bloom in different seasons</li>
        <li>Explore how flowers help bees and butterflies</li>
    </ul>
</div>